/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 *
 */

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: #c4deff url(../images/bg.png) repeat-x;
	color: black;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12pt;
	text-shadow: 1px 1px #fff;
	line-height: 1.4;
	overflow-x: hidden;
}

p {
	margin-bottom: 20px;
}

h1 {
	text-align: right;
	font-size: 300%;
	color: #f1652e;
	margin-bottom: 20px;
	margin-top: -100px;
}

strong {
	font-weight: bold;
}

a {
	color: #f1652e;
	text-decoration: none;
}

a:active {
	color: #ffae53;
}

a:hover {
	color: #f1652e;
	text-shadow: none;
	text-decoration: underline;
/*	text-shadow: 1px 1px #f1652e;*/

}

a:visited {

}

#header {
	height: 230px;
	position: relative;
	z-index: 1000;
	width: 100%;
}

#title {
	width: 180px;
	height: 220px;
	background: url(../images/logo.png) no-repeat;
	float: left;
}

#title span {
	display: none;
}

#navigation {
	position: absolute;
	bottom: 30px;
	left: 200px;
}

#navigation li {
	float: left;
	margin-right: 30px;
}

#content {
	width: 986px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#main {
	font-size: 16pt;
}

#presented-by {
	font-size: 12pt;
}

#presented-by p {
	margin-bottom: 5px;
	font-style: italic;
}

.content-page {
	width: 986px;
	top: 300px;
	position: absolute;
	background: url(../images/contentbg.png) no-repeat center center;
}

#main.content-page {
	background: none;
}

.content-hidden {
	display: none;
}

#text-body {
	width: 500px;
}

#footer {
	padding-top: 50px;
}

#iPhone {
	width: 520px;
	height: 850px;
	margin-top: -200px;
	margin-right: -70px;
	z-index: 1001;
	background: url(../images/iphone.png) no-repeat;
	border: 0;
	float: right;
	position: relative;
}

.persona {
	clear: both;
	margin-bottom: 50px;
}

.persona img {
	float: left;
	margin-right: 50px;
}

.persona ul {
	padding-top: 20px;
}

.persona ul li {
	margin-bottom: 5px;
}

.content-process {
	padding-top: 10px;
}

.content-process ul:after {
	content: "";
	display: block;
	clear: both;
}

.content-process ul li {
	float: left;
	z-index: 10005;
}

.content-process ul li:last-child:after {
	content: "";
}

.content-process ul li:after {
	content: "\00a0\00a0>\00a0\00a0";
}

.content-process-content {
	padding: 30px 0 0;
	text-align: center;
}

div.click_indicator {
	 border: 4px dashed #FF0000;
	 cursor: pointer;
	 opacity: 1.0;
	 border-radius: 10px;
	 -moz-border-radius: 10px;
	-moz-transition-property: opacity, left, top, background-color, border-color;
	-moz-transition-duration: 1s 1s;
	-webkit-transition: all 1s ease-in-out;
	-moz-box-shadow: 0px 0px 10px #f00; 
	-webkit-box-shadow: 0px 0px 10px #f00;
 }
 div.click_indicator.highPulse {
	border-color: #FF0000;
/*	 background-color: #977;*/
	opacity: 0.5;
 }
 div.click_indicator.hover {
	border: solid #ff0000 5px;
	background: rgba(255, 0, 0, 0.5);
/*	border-color: #f1652e;*/
	opacity: 0.9;
 }

div.person {
	-moz-transition-property: opacity, left, top, width, height, background-color, border-color;
	-moz-transition-duration: 1s 1s;
	-webkit-transition: all 1s ease-in-out;
	color: black;
	text-shadow: none;
	font-size: 12px;
	position: absolute;
	cursor: pointer;
	width: 80px;
	right: 0;
	text-align: center;
	float:right;
	padding: 10px 20px;
	z-index: 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	opacity: 0.5;
}

.max {
	top: 300px;
}

.roger {
	top: 450px;
}

div.person.selected {
	font-size: 20px;
	opacity: 1.0;
}

div.person.notified {
	background-color: #ff0000;
	opacity: 0.8;
	border: 5px dashed #ff0000;
	background: rgba(255, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px #f00; 
	-webkit-box-shadow: 0px 0px 10px #f00;
}

div.person img {
	 width: 80px;
	-moz-transition-property: opacity, width, height, background-color, border-color;
	-moz-transition-duration: 1s 1s;
	-webkit-transition: all 1s ease-in-out;
}

div.person.selected img {
	border: 1px solid black;
}
